<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h2 class="my-0 mr-md-auto font-weight-normal" [routerLink]="['/']">Site</h2>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" [routerLink]="['/']">Home</a>
  </nav>
  <a *ngIf="authService.isLoggedIn()" class="btn btn-outline-warning mr-3" [routerLink]="['/dashboard']">User account</a>
  <a *ngIf="authService.isLoggedIn()" class="btn btn-warning" (click)="logoutUser()">Logout</a>
  <a *ngIf="!authService.isLoggedIn()" class="btn btn-outline-primary mr-3" [routerLink]="['/auth']">Login</a>
  <a *ngIf="!authService.isLoggedIn()" class="btn btn-outline-primary" [routerLink]="['/reg']">Register</a>
</div>
